<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headOfHtml">
<body>
	<div class="container-fluid">

		<nav th:replace="fragments/general.html :: navigation" />

		<h2
			th:text="${newProduit} ? 'Ajouter un nouveau '+${produitTypeSingulier}+' ': 'Modifier le '+${ProduitTypeSingulier}+' ' " />

		<form th:action="@{/sauverProduit}" th:object="${produitForm}"
			method="post" enctype="multipart/form-data">
			<p>
				<label> Titre du xxx : 
				<input type="text"
					th:field="*{titre}" />

				</label>
			</p>
			<p>
				Catégorie : <select th:field="*{idCategorie}">
					<option th:each="categorie: ${categories}"
						th:value="${categorie.idCategorie}"
						th:text="${categorie.libelleCategorie}"></option>
				</select>
			</p>
			<p>
				Note : <select th:field=="*{note}">
				  			<option value="">à définir</option>
  							<option value="1">1*</option>
  							<option value="2">2*</option>
  							<option value="3">3*</option>
  							<option value="4">4*</option>
						</select>
			</p>

			<p th:remove="${newProduit}? none : all">
				Ajouter une image <input id="inputImage" name="inputImage"
					type="file" accept="image/*">
			</p>

			<p th:remove="${newProduit}? all : none">
				Image (non modifiable) <img
					th:src="@{'/uploads/'+${ProduitTypePluriel}+'/'+*{nomPhoto}}" / width="100px">


			</p>

			<p>
				<input type="submit" value="Valider"> <input type="hidden"
					th:remove="${newProduit}? all : none" th:field="*{idProduitForm}">
				<input type="hidden" th:remove="${newProduit}? all : none"
					th:field="*{nomPhoto}">
                 <input type="hidden" 
                 th:value="${produitTypeDiscriminator}"
                 					th:field="*{produitType}" />
                 

			</p>
		</form>

		<div th:replace="fragments/general.html :: footer" />
		
	</div>
</body>
</html>