<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headOfHtml">
<body>
	<div class="container-fluid">

		<nav th:replace="fragments/general.html :: navigation" />

		<h2>Emprunt d'un produit</h2>

		<form th:action="@{/sauverEmprunt}" th:object="${empruntForm}" method="get">
			<p>
				<label> Titre du produit :
				<input type="text" th:field="*{titre}" disabled />

				</label>
			</p>
			<p>
				Emprunteur : <select name="idPersonne">
					<option th:each="personne: ${personnes}"
						th:value="${personne.idPersonne}"
						th:text="${personne.nom}+' '+${personne.prenom}"></option>
				</select>
			</p>

			<p>
				<input type="submit" value="Valider">
				<input type="hidden" th:field="*{idProduit}">

			</p>
		</form>

		<div th:replace="fragments/general.html :: footer" />

	</div>
</body>
</html>