<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headOfHtml">
<body>
	<div class="container-fluid">

		<nav th:replace="fragments/general.html :: navigation" />

		<p th:replace="fragments/general.html :: infoMessage" />


		<h2>Tous les livres</h2>

		<p th:remove="${personneSession.estResponsable}? none : all">
			<a href="/editLivre?new=true"><i class="fas fa-plus-square fa-2x"></i>
				Ajouter un livre</a>
		</p>

		<table id="dtLivres" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Catégorie</th>
					<th>Photo</th>
					<th>Ajouté le</th>
					<th>Note</th>
					<th th:remove="${personneSession.estResponsable}? none : all">Modifier</th>
					<th th:remove="${personneSession.estResponsable}? none : all">Supprimer</th>
					<th th:remove="${personneSession.estResponsable}? none : all">Emprunter</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="livre :${livresDTO}">
					<td th:text="${livre.titre}" />
					<td th:text="${livre.categorie.libelleCategorie}" />
					<td><img th:src="@{'/uploads/livres/'+${livre.nomPhoto}}"
						height="100px"  onerror="this.onerror=null;this.src='/uploads/livres/default-cover.png';"></td>
					<td th:text="${#dates.format(livre.dateAjout,'dd-MMM-yyyy')}" />
										<td th:text="${livre.note}" />	
					<td th:remove="${personneSession.estResponsable}? none : all"><a
						
						th:href="@{/editLivre(idLivre=${livre.idLivre})}"> <i
							class="far fa-edit fa-2x"></i>
					</a></td>
					<td th:remove="${personneSession.estResponsable}? none : all"><a
						
						th:href="@{/supprimerLivre(idLivre=${livre.idLivre})}"> <i
							class="far fa-trash-alt fa-2x"></i>
					</a></td>
					<td th:remove="${personneSession.estResponsable}? none : all"><a
						th:if="${personneSession.estResponsable and livre.kEmprunt==false}"
						th:href="@{/editEmprunt(idLivre=${livre.idLivre})}"> <i
							class="fas fa-shopping-cart fa-2x"></i>
					</a></td>
				</tr>
			</tbody>
		</table>

		<div th:replace="fragments/general.html :: footer" />

	</div>
	
	<script type="text/javascript" th:remove="${personneSession.estResponsable}? none : all">
    $(document).ready(function() {
        $('#dtLivres').dataTable( {
            "language": {
                "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            responsive: true,
            "columns": [
                        { "orderable": true },
                        { "orderable": true },
                        { "orderable": false },
                        { "orderable": true },
                        { "orderable": true },
                        { "orderable": false },
                        { "orderable": false },
                        { "orderable": false }
                      ]
        } );
    } );
</script>

	<script type="text/javascript" th:remove="${personneSession.estResponsable}? all : none">
    $(document).ready(function() {
        $('#dtLivres').dataTable( {
            "language": {
                "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            responsive: true,
            "columns": [
                        { "orderable": true },
                        { "orderable": true },
                        { "orderable": false },
                        { "orderable": true },
                        { "orderable": true }
                      ]
        } );
    } );
</script>

</body>
</html>